#productos {
    width: 30%;
    height: 300px;
}
header {
    background-color: rgb(240, 219, 224);
    padding: 20px 0;
}

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 148px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
.principal{
    background:  rgb(245, 225, 225);
}

p {
    text-align: center;font-size: 22px;
}

#horario{
    text-align: center;font-size: 22px;
    border: 7px solid #000000 ;
    padding: 20px;
    margin: 80px;
}

h1 {
    font-size: 40px;text-align: center;
    color: rgb(0, 0, 0);
    border: 5px solid #000000 ;
    padding: 20px;
    margin: 80px;
}
h2 {
    text-align: center;
    font-size: 38px;text-align: center;
    text-align: center;
}

.diferenciales{
    background: #ffffff;
}

.items{
    font-size: italic;
    font-size: 20px;
}
