#producto{
    width: 30%;
    height: 300px;
}

#contacto{
    background-color: rgb(254, 155, 238);
    padding: 20px 0;
}
header {
    background-color: #ff92e1;
    padding: 20px 0;
}

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 148px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;

}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

#cortes{
    width: 80%;
    height: 200px;
}

#peinados{
    width: 80%;
    height: 200px;
}
#tintura{
    width: 80%;
    height: 200px;
}
.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}
.productos li:hover h2{
    font-size: 33px;
}
.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 7px dotted #000000;
    border-radius: 20px;
}

.productos li:hover{  
    border-color: hsl(64, 100%, 50%);
}

.productos li:active{
    border-color: rgb(255, 0, 0);
    
}

.productos h2{
    font-size: 30px;
    font-weight: bold;
}
.descripcion{
    font-size: 20px;
}
.precio {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
}
h2{
    color: #c90090;
}

footer{
    text-align: center;
    background-color: rgb(240, 219, 224);
    font-size: 35px;
    padding: 20px;
}
#logo9{
    height: 350px;
    width: 30%;
}
#panda{
    text-align: right;
    font-size: 20px;
}

main{
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0;
}

form label{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
form input, form textarea{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}


.boton{
    font-size: 25px;
    width: 30%;
}
p{
    font-size: 28px;
}